<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Janitor</title>
    <link rel="stylesheet" href="form_styles.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">Create Janitor</h1>
      <form class="form" action="/addJanitor" method="POST">
        <div class="form-group">
          <label for="Janitor_ID">Janitor ID:</label>
          <input type="text" id="Janitor_ID" name="Janitor_ID" required /><br />
        </div>
        <div class="form-group">
          <label for="Experience">Experience:</label>
          <input type="text" id="Experience" name="Experience" required /><br />
        </div>
        <div class="form-group">
          <label for="shift_schedule">Shift Schedule:</label>
          <input
            type="date"
            id="shift_schedule"
            name="shift_schedule"
            required
            placeholder="yyyy-mm-dd"
          /><br />
        </div>
        <div class="form-group">
          <label for="last_name">Last Name:</label>
          <input type="text" id="last_name" name="last_name" required /><br />
        </div>
        <div class="form-group">
          <label for="first_name">First Name:</label>
          <input type="text" id="first_name" name="first_name" required /><br />
        </div>
        <div class="form-group">
          <label for="hire_date">Hire Date:</label>
          <input
            type="date"
            id="hire_date"
            name="hire_date"
            required
            placeholder="yyyy-mm-dd"
          /><br />
        </div>
        <div class="form-group">
          <label for="salary">Salary:</label>
          <input type="text" id="salary" name="salary" required /><br />
        </div>
        <button type="submit" class="submit-button">Create Janitor</button>
      </form>
      <button onclick="window.location.href='/'" class="home-button-create">
        Home
      </button>
    </div>
  </body>
</html>
