<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Appointment</title>
    <link rel="stylesheet" href="form_styles.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">Create Appointment</h1>
      <form class="form" action="/addAppointment" method="POST">
        <div class="form-group">
          <label for="appointment_id">Appointment ID:</label>
          <input
            type="text"
            id="appointment_id"
            name="appointment_id"
            required
          />
        </div>
        <div class="form-group">
          <label for="appointment_time">Appointment Time:</label>
          <input
            type="date"
            id="appointment_time"
            name="appointment_time"
            required
          />
        </div>
        <div class="form-group">
          <label for="appointment_date">Appointment Date:</label>
          <input
            type="date"
            id="appointment_date"
            name="appointment_date"
            required
          />
        </div>
        <div class="form-group">
          <label for="reason">Reason:</label>
          <input type="text" id="reason" name="reason" required />
        </div>
        <div class="form-group">
          <label for="patient_id">Patient ID:</label>
          <input type="text" id="patient_id" name="patient_id" required />
        </div>
        <button type="submit">Create Appointment</button>
      </form>
    </div>
  </body>
</html>
