<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Staff Management</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="container">
      <h1>Staff Management</h1>
      <div class="btn-container">
        <button onclick="window.location.href='/create_staff'">Create</button>
        <button onclick="window.location.href='/display_tables'">
          Read, Update, Delete
        </button>
      </div>
    </div>
  </body>
</html>
