body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #840032;
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 10%;
  height: 30px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  padding: 3px;
}

table {
  width: 75%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: 2px solid black;
}

table th,
table td {
  padding: 10px;
  border: 2px solid black;
  text-align: left;
  background-color: white;
}

button {
  background-color: #840032;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 3px;
}

.home-button {
  background-color: white;
  color: #840032;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  display: block;
  margin: 20px auto;
  padding: 10px;
}
